@font-face {
    font-family: 'aileronregular';
    src: url('Police/Aileron-Regular-webfont.eot');
    src: url('Police/Aileron-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Police/Aileron-Regular-webfont.woff2') format('woff2'),
         url('Police/Aileron-Regular-webfont.woff') format('woff'),
         url('Police/Aileron-Regular-webfont.ttf') format('truetype'),
         url('Police/Aileron-Regular-webfont.svg#aileronregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cadmanregular';
    src: url('Police/Cadman_Roman-webfont.eot');
    src: url('Police/Cadman_Roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('Police/Cadman_Roman-webfont.woff2') format('woff2'),
         url('Police/Cadman_Roman-webfont.woff') format('woff'),
         url('Police/Cadman_Roman-webfont.ttf') format('truetype'),
         url('Police/Cadman_Roman-webfont.svg#cadmanregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*--Version Desktop*/
/*-Balisage Flex*/
.Flex
{
    display: flex;
}
.Flex-RowReverse
{
    flex-direction: row-reverse;
}
.Flex-Column
{
    flex-direction: column;
}
.Flex-Justify-Center
{
    justify-content: center;
}
.Flex-Align-Center
{
    align-items: center;
}
.Flex-SpaceAround
{
    justify-content: space-around;
}
/*-Fin Balisage Flex*/
body
{
    font-family: 'aileronregular', Arial, Helvetica, sans-serif;
    background-color: rgb(50,50,50);
}
.Blocpage
{
    max-width: 1200px;
    margin: auto;
}
.Blocpage h1,h3,h4
{
    text-transform: uppercase;
}
p
{
    font-family: 'cadmanregular', Arial, Helvetica, sans-serif;
}
/*>Section Droite*/
.SecDroite
{
    background-color: white;
    width: 65%;
    padding: 0 3% 0 3%
}
.SecDroite i
{
    color: rgb(30, 120, 40);
    font-size: 2.5em;
}
article
{
    padding-bottom: 5%; 
}    
.SousTitre
{
    border-bottom: 2px solid rgb(30, 120, 40);
    margin-bottom: 3%;
    height: 50px;
}
.SousTitre h3 
{
    padding-left: 3%;
    font-size: 1.5em;
}
/*En tete*/
h1
{
    padding-top: 10%;
    font-size: 3em;
    font-weight: normal;
}
h1 span
{
    color: rgb(30, 120, 40);
    font-weight: bold;
}
h2
{
    font-size: 2em;
    font-weight: normal;
    padding-bottom: 15%;
}
h2 span
{
    border-bottom: 2px solid rgb(30, 120, 40);
}
/*Formation + Expérience Pro*/
.Date
{
    min-width: 200px;
}
.Date i
{
    margin-top: 120%;
    border: 2px solid rgb(30, 120, 40);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 1.2em;
    text-align: center;
}
.Date p
{
    margin-top: 15%;
    font-weight: bold;
    font-size: 17px;
    padding-left: 5%;
}
.Sujet
{
    margin-left: 20%;
}
.Sujet h4
{
    font-size: 1.5em;
}
.Sujet em
{
    font-style: normal;
    font-size: 1.2em;
}
.Sujet p
{
    text-align: justify;
}
/*Recommandation*/
.Recommandation h4
{
    font-size: 1.5em;
}
.Lydia
{
    margin-left: 10%;
}
/*>Fin Section Droite*/
/*<Section Gauche*/
.SecGauche
{
    background-color: rgb(30, 120, 40);
    width: 30%;
    color: rgb(0, 30, 0);
    padding-top: 3%;
}
.SecGauche h4
{
    background-color: rgb(0, 30, 0);
    color: rgb(30, 120, 40);
    font-size: 1.5em;
    text-align: center;
}
/*Photo*/
.Photo
{
    text-align: center;
}
.Photo img
{
    border: 3px solid white;
    border-radius: 50%;
}
/*Contact*/
.Contact p
{
    margin-left: 10%;
}
.Contact span
{
    font-weight: bold;
}
/*A propos*/
.A-propos
{
    flex-grow: 1;
}
.A-propos p
{
    text-align: justify;
    margin: 10%;
}
/*Loisirs*/
.Loisirs
{
    color: rgb(0, 30, 0);
}
.IconeLoisirs
{
    padding-bottom: 3%;
}
.Loisirs i
{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border: 3px solid rgb(0, 30, 0);
    border-radius: 50%;
    font-size: 2.5em;
}
/*<Fin Section Gauche*/
/*--Fin Version Desktop*/

/*--Début Version Tablette*/
@media all and (max-width: 900px)
{
    .Blocpage
    {
        width: auto;
    }
    /*-Flex Tablette*/
    .Tab-Column
    {
        flex-direction: column;
    }

    /*-Fin Flex Tablette*/
    h1
    {
        font-size: 2.4em;
    }
    h2 
    {
        width: 200px;
        font-size: 1.5em;
    }
    /*Tablette-Haut*/
    .SecDroite
    {
        width: auto;
        padding: 0 8% 0% 8%;
    }
    .Sujet p 
    {
        text-align: start;
    }
    .Date
    {
        min-width: 150px;
    }
    .Sujet
    {
        margin-left: 5%;
    }
    .Recommandation article
    {
        margin-bottom: 5%;
    }
    /*Tablette-Bas*/
    .SecGauche
    {
        width: auto;
    }
    .Contact
    {
        margin-top: -5%;
    }
    .Loisirs
    {
        padding-bottom: 3%;
    }
    .Photo
    {
        position: absolute;
        top: 3em;
        right: 1em;
    }
    .Photo img
    {
        width: 180px;
        height: 180px;
    }
}